$dark-gray: #2B3A42;

$theme-white: #fff;
$theme-off-white: #ececec;
$theme-orange: #df7f27;
$theme-pink: #990968;
$theme-off-pink: #843A59;
$theme-green: #9DC129;
$theme-red: #e2525c;
$theme-warning: #ffc107;